// NavBar Destop
.nvb_logo {
  width: 180px;
}
.navbar_Desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--rosa);
  padding: 1rem 0;
  // height: 10vh;
}

.nvb_links_box {
  display: flex;
  align-items: center;
  gap: 2rem;
  & li {
    list-style: none;

    & a {
      font-size: 1.2rem;
      font-family: var(--Pacifico);
      color: black;
      text-decoration: none;
    }
  }
}
