img {
  max-width: 100%;
}

.product {
  max-width: 800px;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product_sec1 {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 3rem;
}
.product_img {
  display: flex;
  width: 50%;
  & img {
    border-radius: 1rem;
  }
}

.product__info {
  width: 50%;
  background-color: #d9d9d9;
  border-radius: 1rem;
}

.product_title {
  text-align: center;
}

.product_text {
  max-width: 80%;
  margin: auto;
}

.detalles_container {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 900px;
  margin: auto;
}
.step_box {
  width: 80%;
  margin: auto;
}

.step_img {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  margin: auto;
  border-radius: 1rem;
}

@media (max-width: 850px) {
  .product_sec1 {
    flex-wrap: wrap;
  }
  .product__info {
    width: 80%;
  }
  .product_img {
    width: 80%;
  }
}
