.products_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.page_title {
  margin-left: 5rem;
  font-size: 2rem;
  text-align: left;
}

.products_container {
  display: flex;
  width: 90%;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.cards__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  max-width: 80%;
}

.btn_more {
  border-style: none;
  padding: 0.7rem 1.4rem;
  border-radius: 1rem;
  font-size: 0.6rem;
  font-weight: bold;
  background-color: var(--blue);
  color: var(--white);
}

@media (max-width: 800px) {
  .cards__container {
    grid-template-columns: 1fr;
    // max-width: 90%;
  }
}

@media (max-width: 560px) {
  .products_container {
    gap: 1rem;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .cards__container {
    max-width: 90%;
  }
  .page_title {
    margin-left: 1.5rem;
  }
}
